<div class="sweets">
<h1>Yummy Cakes!</h1>
<div class="container row image">
<% $cakes.each do |cake| %>
<div class ="col-md-4">
  <h2><%= cake.name%></h2>
  <img src= "<%= cake.image %>" class="image-size">
  <p><%= cake.description %></p>
  <p><%= cake.cost %></p>
</div>
<% end %>
</div>
</div>
