<div class="sweets">

<div class="signup">
    <form method="post">
      Sign up for our Newsletter!<br>
      <input type = 'email' style = 'margin-top: 10px;' name='email'><br>
      <input class = 'btn btn-primary' style = 'margin-top: 10px;' type='submit' value = 'Submit'>
    </form>
</div>
</div>
