

<div class="treat-container">
<% $cookies.each do |cookie| %>
<div>
  <h2><%= cookie.name%></h2>
  <img src= "<%= cookie.image %>">
  <p><%= cookie.description %></p>
  <p><%= cookie.cost %></p>
</div>
<% end %>
</div>

