<div class="sweets">
<h1>Delicious Cookies!</h1>
<div class="container row">
<% $cookies.each do |cookie| %>
<div class ="col-md-4">
  <h2><%= cookie.name%></h2>
  <img class="image" src= "<%= cookie.image %>">
  <p><%= cookie.description %></p>
  <p><%= cookie.cost %></p>
</div>
<% end %>
</div>
</div>