 <footer class="text-center">
    <img id="banner" src="/images/bannerbar.png" />
   
        <div>Cake House Cafe</div>
        <div>90 John Street</div>
        <div>New York CotyCity</div>
        <div>Ph: 555 555-5555</div>
        <div>Monday - Friday 8 AM to 8 PM</div>
    
</footer>