 <div class = "row" id = "trainerRow">
    <div class = "container">
      <div class="carousel slide" data-ride="carousel" data-interval = "false" id="trainerCarousel">
        <div class = "carousel-inner">
          <div class = "carousel-item active" id = "cupcake">
            <div class = "carouselWrap">
              <img class="trainer animated bounceIn" src="images/cupcake.png"/>
            </div>
          </div>
          <div class = "carousel-item" id = "cookies">
            <div class = "carouselWrap">
                <img class = "trainer animated rubberBand" src = "/images/cookies.png"/>
            </div>
          </div>
          <div class = "carousel-item" id = "muffin">
            <div class = "carouselWrap">
              <img class = "trainer animated slideInLeft" style = "right: 15%;" src = "/images/muffin.png"/>
            </div>
          </div>
         
          <div class = "carousel-item" id = "cake">
              <div class = "carouselWrap">
                <img class = "trainer animated jackInTheBox" src = "/images/cake.png" alt = "trainer 4 image"/>
              </div>
            </div>

        <a class="carousel-control-prev" href = "#trainerCarousel" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href = "#trainerCarousel" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
  