<!DOCTYPE html>
<html lang="en">
<head>
  <title>Cake  House</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link rel="stylesheet" href="Animate.css">
  
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    html {
    /* overflow-x: hidden; */
    min-height: 100vw; }
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    body {    
      position: fixed;
      color: pink;
      top: 20px;
      /* margin-right: 10px; */
      /* padding: 20px; */
      background-image:url("/images/finalbackground3.png");
      /* background-position: center; */
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      /* background-clip: initial; */
      line-height: 1em; 
      height: 100%;
      display: grid;
      grid-template-rows: 1fr auto;
}
      
    /* Add a gray background color and some padding to the footer */
    footer {
      /* background-image: url("footerbg.png");
      background-size: 100%; */
      grid-row-start: 2;
      grid-row-end: 3;
    }
footer img{
  width:100vw;
  height:20vw;;
  margin:0;
}

.header{
  margin-left: 0;
}


.carousel-item {
  /* ß */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.carousel img {
  min-height: 50%;
  max-height: 110%;
  opacity: 0.9;
  position: absolute;
  right: 10%; 
  top: 13px;}

#contentBox {
  display: flex;
  align-items: center; }

.carouselWrap {
  height: 40vh; }

.logo1 {
  position: absolute;
  width: 97vw;
}
.image-size {
  max-width: 200px;
  max-height: 200px;
}

nav {
  margin-bottom: 1%; }

.nav2{
    height:  50px;
  } 


#trainerRow {
  margin-bottom: 2%; }

.carousel-inner {
  overflow: visible; }

  .nav1 {
    max-width: 100vw;
    max-height:10vh;
    display: grid;
    grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr;
    color: #fbb4dc;
    font-size: 4vh;
    font-family: 'Loved by the King', cursive;
    text-align: center;
    z-index: 999;
  }
.nav a {
    margin-top: 4vh;
    color: #fbb4dc;
  }
  

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; 
    }
  }
  </style>
</head>
<body>
 
    <div class="nav1">
      <div class="nav2"><a href="/">Home</a></div>
      <div class="nav2"><a href="cookie">Cookies</a></div>
      <div class="nav2"><a href="muffin">Muffins</a></div>
      <div class="nav2"><a href="cake">Cakes</a></div>
      <div class="nav2"><a href="contact">Contact Us</a></div>
    </div>
    <img class="logo1" src="/images/bakerylogofinal.png">
</nav>

 <%= yield %>

  <footer class="container-fluid text-center">
    <img id="banner" src="/images/bannerbar.png" />
   
        <div>The Prince of All Flavors Bakeshop</div>
        <div>WST 3338926 K</div>
        <div>Western Capital City</div>
        <div>Ph: 555 426 1989</div>
        <div>Monday - Friday 8 AM to 8 PM</div>
    
</footer>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src = "js/library.js"></script>
    <script>
      $("#trainerCarousel").on('slid.bs.carousel', function () {
        console.log('something is sliding');
        let trainer = document.getElementsByClassName('active')[0].id;
        setTimeout(function() {
          setScreen();
        }, 600);
        setScreen();
      });
    </script>
</body>
</html>

