
<div class="sweets">
<h1>Delicious Muffins!</h1>
<div class="container row">
<% $muffins.each do |muffin| %>
<div class="col-md-4">
 <h2><%= muffin.name%></h2>
  <img src= "<%= muffin.image %>" class="image-size">
  <p><%= muffin.description %></p>
  <p><%= muffin.cost %></p>
</div>
<% end %>
</div>
</div>
