  <div class="nav1">
      <div class="nav2"><a href="/">Home</a></div>
      <div class="nav2"><a href="cookie">Cookies</a></div>
      <div class="nav2"><a href="muffin">Muffins</a></div>
      <div class="nav2"><a href="cake">Cakes</a></div>
      <div class="nav2"><a href="contact">Contact Us</a></div>
    </div>
    <img class="logo1" src="/images/bakerylogofinal.png">