

@-webkit-keyframes slide {
  100% {
    left: 0; } }
@keyframes slide {
  100% {
    left: 0; } }

.logo1 {
top: 0px;
 position: relative;
}

section {
  display: block; }



  html {
    /* overflow-x: hidden; */
    min-height: 100vh; }

    
    body {
      color: pink;
      margin: 0px;
      /* margin-right: 10px; */
      padding: 40px;
      background-image:url("backgroundfinal2.png");
      background-position: center;
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
      /* background-clip: initial; */
      line-height: 1em; }

.carousel-item {
  /* background-image: url("../img/coloredpanel.png"); */
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat; }

.carousel img {
  /* min-height: 50%; */
  max-height: 75%;
  opacity: 0.9;
  position: absolute;
  right: 10%; }

#contentBox {
  display: flex;
  align-items: center; }

.carouselWrap {
  height: 50vh; }

nav {
  margin-bottom: 1%; }

#trainerRow {
  margin-bottom: 2%; }

.carousel-inner {
  overflow: hiddwen; }


  .footer {
    max-width: 100%;
    display: grid;
    grid-template: 8vh / 1fr 1fr 1fr 1fr 1fr;
    padding-left: 4vh;
    font-size: 3vh;
    font-family: 'Cute Font', cursive;
    margin-top: 2%
  }
  

section {
  display: block; }


  .nav {
    max-width: 100vw;
    display: grid;
    grid-template: 15vh / 1fr 1fr 1fr 1fr 1fr 1fr;
    color: #fbb4dc;
    font-size: 4vh;
    font-family: 'Loved by the King', cursive;
    text-align: right;
    justify-content: right; 
    justify-items: right;
    position: absolute;
  }
  
 
  .nav a {
    margin-top: 4vh;
    color: #fbb4dc;
  }
  
  .nav img {
    position: relative;
    width: 1024px;
    margin: 0;
  }
  



  







